.homeBackground {
  padding: 50px 30px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.homeDescription {
  grid-row: 1/2;
  grid-column: 1/2;
  z-index: 1000;
  width: 190px;
  background: #2061c1;
  text-align: center;
  height: 190px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #fff;
}
.imageHolder {
  background: url('../assets/jpg/office.jpg') no-repeat;
  background-size: cover;
  width: 570px;
  height: 570px;
  border-radius: 50%;
  background-position: top right;
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
}
.taskText {
  grid-row: 2/3;
  grid-column: 1/2;
  z-index: 1000;
  width: 190px;
  background: #2061c1;
  text-align: center;
  height: 190px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #fff;
}
@media only screen and (max-width: 640px) {
  .homeBackground {
    padding: 30px 0;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media only screen and (max-width: 640px) {
  .imageHolder {
    width: 420px;
    height: 420px;
  }
  .homeDescription {
    width: 120px;
    font-size: 1.2rem;
    height: 120px;
  }
  .taskText {
    width: 120px;
    font-size: 1.2rem;
    height: 120px;
  }
}

@media only screen and (max-width: 500px) {
  .imageHolder {
    width: 300px;
    height: 300px;
  }
  .homeDescription {
    width: 100px;
    font-size: 0.8rem;
    height: 100px;
  }
  .taskText {
    width: 100px;
    font-size: 0.8rem;
    height: 100px;
  }
}

@media only screen and (max-width: 350px) {
  .imageHolder {
    width: 280px;
    height: 280px;
  }
  .homeDescription {
    width: 90px;
    font-size: 0.8rem;
    height: 90px;
  }
  .taskText {
    width: 90px;
    font-size: 0.8rem;
    height: 90px;
  }
}
